<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Update Student</title>
  </head>
  <body>
    <h1>Update Student</h1>
    <form
      action="{{ url_for('update_student', student_id=student['id']) }}"
      method="post"
    >
      <label for="name">Name:</label>
      <input
        type="text"
        id="name"
        name="name"
        value="{{ student['name'] }}"
        required
      />
      <br />
      <label for="phone">Phone:</label>
      <input
        type="text"
        id="phone"
        name="phone"
        value="{{ student['phone'] }}"
        required
      />
      <br />
      <label for="email">Email:</label>
      <input
        type="email"
        id="email"
        name="email"
        value="{{ student['email'] }}"
        required
      />
      <br />
      <label for="address">Address:</label>
      <input
        type="text"
        id="address"
        name="address"
        value="{{ student['address'] }}"
        required
      />
      <br />
      <input type="submit" value="Update" />
    </form>
    <br />
    <a href="{{ url_for('dashboard') }}">Back to Dashboard</a>
  </body>
</html>
